{% extends 'accounts/layout/base.html' %}

{% block title %}<title>Create user</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3 class="mt-5">Création d'un compte</h3>
                {% if request.user.is_authenticated %}
                    <p class="text-danger">
                        Vous êtes authentifié en tant <mark>{{ user.username }} - {{ user.email }}</mark>
                        Si vous souhaitez créer un autre compte, veuilez vous <a href="{% url 'accounts:logout' %}">Déconnecter</a>
                    </p>
                {% else %}
                    {% for message in messages %}
                        <p class="text-danger">{{ message }}</p>
                    {% endfor %}
                    <form action="" method="post">{% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary" type="submit">Create mon compte</button>
                    </form> 

                    <br /> <br /><hr >
                    <p>
                       avez-vous déjà un compte <a href="{% url 'accounts:connexion' %}">Connectez-vous</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}